[global_config]
  title_transmit_fg_color = "{{.FOREGROUND}}"
  title_transmit_bg_color = "{{.BACKGROUND}}"
  title_inactive_fg_color = "{{.FOREGROUND}}"
  title_inactive_bg_color = "{{.BACKGROUND}}"

[profiles]
  [[default]]
    palette = "{{.BLACK1}}:{{.RED1}}:{{.GREEN1}}:{{.YELLOW1}}:{{.BLUE1}}:{{.MAGENTA1}}:{{.CYAN1}}:{{.WHITE1}}:{{.BLACK2}}:{{.RED2}}:{{.GREEN2}}:{{.YELLOW2}}:{{.BLUE2}}:{{.MAGENTA2}}:{{.CYAN2}}:{{.WHITE2}}"
    foreground_color = "{{.FOREGROUND}}"
    background_color = "{{.BACKGROUND}}"
    cursor_color = "{{.CURSOR}}"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]

