[global_config]
  title_transmit_fg_color = "#414d58"
  title_transmit_bg_color = "#2e363e"
  title_inactive_fg_color = "#414d58"
  title_inactive_bg_color = "#373b41"

[profiles]
  [[default]]
    palette = "#2e363e:#ed6e3e:#00b07e:#f9a029:#006ec5:#9853de:#5797b7:#4e4e4e:#373b41:#f58f30:#00b07e:#fad15a:#0094d1:#ac6ced:#6c78ed:#7a858d"
    foreground_color = "#414d58"
    background_color = "#e5e5e5"
    cursor_color = "#414d58"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]

