[global_config]
  title_transmit_fg_color = "#e5e5e5"
  title_transmit_bg_color = "#4c5a67"
  title_inactive_fg_color = "#e5e5e5"
  title_inactive_bg_color = "#5a6672"

[profiles]
  [[default]]
    palette = "#4c5a67:#ed6e3e:#00b07e:#f9a029:#006ec5:#9853de:#5797b7:#7f8d9a:#5a6672:#f58f30:#00b07e:#fad15a:#0094d1:#ac6ced:#6c78ed:#e5e5e5"
    foreground_color = "#e5e5e5"
    background_color = "#414d58"
    cursor_color = "#e5e5e5"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]

