[global_config]
  title_transmit_fg_color = "#e9eef0"
  title_transmit_bg_color = "#414d58"
  title_inactive_fg_color = "#e9eef0"
  title_inactive_bg_color = "#97a3ab"

[profiles]
  [[default]]
    palette = "#414d58:#e95f26:#00b07e:#f9a029:#006ec5:#9853de:#5797b7:#7f8d9a:#97a3ab:#f58f30:#affed3:#fad15a:#2596cd:#ac6ced:#6c78ed:#dde5e8"
    foreground_color = "#e9eef0"
    background_color = "#182028"
    cursor_color = "#e9eef0"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]

